.container {
    display: grid;
    grid-template-columns: 480px 10vw 520px;
    grid-template-rows: 250px 9vh 260px;
    width: max-content;
}

.attribution {
    font-weight: bold;

    position: fixed;
    bottom: 0;
    right: 0;
}

@include mediaquery(1200px) {
    .container {
        grid-template-columns: 480px 10vw 30vw;
        grid-template-rows: 250px 5vh 260px;
    }
}

@include mediaquery(850px) {
    .container {
        grid-template-columns: 85vw;
        grid-template-rows: none;

        width: max-content;

        margin: 5rem auto;
    }

    .attribution {
        font-size: .7rem;
        position: static;
    }
}