// fonts import
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
    //font-family: 'Spartan', sans-serif;
//

body {
    @include fullscreen;
    // Background-config
    background-color: $white;
    background-image: url('./../images/bg-pattern-top-desktop.svg'), url('./../images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-size: 40% 40%, 81% 81%;
    background-position: top left, bottom right;

    display: flex;
    align-items: center;
    justify-content: center;

    // font-base
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}

@include mediaquery(850px) {
    body {
        background-image: url("./../images/bg-pattern-top-mobile.svg"), url("./../images/bg-pattern-bottom-mobile.svg");
        background-size: 100% 27%, 100% 27%;
        background-position: top center, bottom right;

        display: block;
    }
}