// fonts import
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
    //font-family: 'Spartan', sans-serif;
//

body {
    @include fullscreen;
    // Background-config
    background-color: $white;
    background-image: url('../../images/bg-pattern-top-desktop.svg'), url('../../images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: top left, bottom right;

    // font-base
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: $dark-magenta;
}